body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 100px 20px;
}

.frame-vitality {
  width: 390px;
  height: 700px;
  background: linear-gradient(to right, #D31145 75%, #E8386F 35%);
  position: relative;
}

.element {
  position: absolute;
  top: 0;
  left: 20px;
  width: 370px;
  object-fit: cover; /* or contain depending on what you want */
}

.top-content-vitality {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  color: white;
}

.top-content-vitality h1 {
  position: absolute;
  top: 120px;
  left: 30px;
  right: 0px;
  font-size: 50px;
  font-weight: 700px;
  color: white;
  line-height: 0.9;
}

.trophy {
  position: absolute;
  bottom: 0px;
  top: 100px;    /* distance from bottom of frame */
  left: 208px;      /* distance from left */
  width: 170px;    /* adjust size */
}

.line1 {
  position: absolute;
  bottom: 0px;
  left: 230px;
  width: 200px;
}

.line2 {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 200px;
}

.bottom-content-vitality {
  position: absolute;
  top: 35%;      /* start right below top gradient */
  left: 0;
  width: 100%;
  height: 65%;   /* bottom area */
  color: white;
}

.bottom-content-vitality {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 65%;
  color: white;
  padding-left: 30px;
  padding-top: 40px;
  box-sizing: border-box;
}

.rank-item {
  margin-bottom: 40px;
}

.rank-label-1 {
  position: absolute;
  font-size: 20px;
  font-weight: 200;
}

.rank-label-2 {
  position: absolute;
  top: 200px;
  font-size: 20px;
  font-weight: 200;
}

.rank-hash-1 {
  position: absolute;
  top: 88px;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
}

.rank-hash-2 {
  position: absolute;
  top: 250px;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
}

.rank-number-1 {
  position: absolute;
  top: 25px;
  left: 60px;
  font-size: 90px;
  font-weight: 700;
  line-height: 0.9;
}

.rank-number-2 {
  position: absolute;
  top: 193px;
  left: 60px;
  font-size: 90px;
  font-weight: 700;
  line-height: 0.9;
}